
<div class="container my-5">
    <div class="d-flex flex-wrap justify-content-center">
        {{#each items as |item|}}
        <div href="" id="card" class="card mx-2 mb-3" style="width: 15rem">
            <img src="{{item.images}}" class="card-img p-1" style="" alt="product-image">
            <div class="p-2">
                <h4 class="font-weight-bolder">{{ item.price }} €</h4>
                <h6 class="card-text">{{ item.name }}</h6>
                <p class="text-black-50 ">{{ item.description }}</p>
                <div class="d-flex justify-content-around">
                    <a href="#" class="btn btn-outline-danger badge-pill"><i class="fas fa-heart"></i></a>
                    <form  action="/items/{{item._id}}/details" method="get">
                        <button class="btn btn-outline-info badge-pill mr-2">Ver</button>
                    </form>
                </div>
                
            </div> 
        </div>
        {{/each}}
    </div> 
</div>