<section>
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="card col-7">
                <form action="/items/{{ item.id }}/doEdit" method="post">
                    <h5 class="mt-3 text-info">Edita tu producto</h5>
                    <div class="form-group mt-3">
                      <label for="name-item">¿Que estás vendiendo?</label>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Breve descripción del artículo" value="{{item.name}}">
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <div class="d-flex align-items-center">
                            <input name="price" type="number" class="form-control w-25" id="price" placeholder="Pecio en €" value="{{item.price}}">
                            <label class="mb-0 ml-2 font-weight-bold text-info">€</label>
                        </div>
                    </div>
                    <div class="form-group w-50">
                        <label for="exampleFormControlSelect1">Selecciona una categoría</label>
                        <select name="category" class="form-control" id="exampleFormControlSelect1" required>
                            <option>Motos</option>
                            <option>Motor y accesorios</option>
                            <option>Tv, audio y foto</option>
                            <option>Móviles y telefonía</option>
                            <option>Informática y electrónica</option>
                            <option>Deporte y ocio</option>
                            <option>Bicicletas</option>
                            <option>Consolas y videojuegos</option>
                            <option>Hogar y jardín</option>
                            <option>Moda y accesorios</option>
                            <option>Elecrodomésticos</option>
                            <option>Cine, libros y música</option>
                            <option>Niños y bebés</option>
                            <option>Coleccionismo</option>
                            <option>Materiales de construcción</option>
                            <option>Industria y agricultura</option>
                            <option>...Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label name="description" for="exampleFormControlTextarea1">Descripción del artículo</label>
                        <textarea name="description" class="form-control" id="description" rows="4" value="{{item.description}}">{{item.description}} </textarea>
                    </div>
                    {{!-- <form>
                        <div class="form-group">
                            <label for="item-img">Fotos del producto</label>
                            <input type="file" class="form-control-file mb-2" id="item-img" accept="image/jpeg" required>
                            <input type="file" class="form-control-file mb-2" id="item-img" accept="image/jpeg">
                            <input type="file" class="form-control-file mb-2" id="item-img" accept="image/jpeg">
                            <input type="file" class="form-control-file mb-2" id="item-img" accept="image/jpeg">
                            <input type="file" class="form-control-file" id="item-img" accept="image/jpeg">
                        </div>
                    </form> --}}
                    {{!-- <div class="card-body">
                        <label><i class="fas fa-map-marker-alt text-info"></i> Tus productos de venderán en</label>
                        <input name="location" type="search" class="form-control mb-2" placeholder="España" aria-label="Search" aria-describedby="button-place">
                        <div id="map-item"></div>
                    </div> --}}

                   
                    
                    <div class="my-3 mx-auto">
                        <button type="submit" class="btn btn-info">Subir producto</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div> 
</section>