
<section>
    
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-12 mb-3">
                <h4 class="text-info">Tus productos {{ session.alias }}</h4>
                <div class="mb-2">
                    <a href="/user/list" class="btn btn-outline-secondary active">En venta</a>
                    <a href="/user/list-sold" class="btn btn-outline-secondary  ml-1">Vendidos</a>
                </div>
            </div>
            {{#each items as |item| }}
            <div class="card col-12 mb-3">
                <div class="row align-items-center">
                    <img class="img-list m-1" src="{{item.images.[0]}}" alt="">
                    <div class="ml-4 mt-1">
                        <h3>{{ item.price }} €</h3>
                        <p>{{ item.name }}</p>
                    </div>
                    <div class="row ml-auto mr-2">
                        <div class="row h4 mr-5 font-weight-light">
                            <p class="text-black-50 mr-4"><i class="font-weight-light fas fa-eye "></i> {{ item.views }}</p>
                            <p class="text-black-50"><i class="font-weight-light fas fa-heart "></i> {{ item.favourites }}</p>
                        </div>
                        <form  action="/items/{{item._id}}/sold" method="post">
                            <button class="btn btn-outline-success mr-2"><i class="fas fa-check"></i></button>
                        </form>
                        <form  action="/items/{{item._id}}/edit" method="get">
                            <button class="btn btn-outline-secondary mr-2"><i class="fas fa-pencil-alt"></i></button>
                        </form>
                        <form  action="/items/{{item._id}}/delete" method="post">
                            <button class="btn btn-outline-danger mr-2"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>  
            </div>
            {{/each}}
        </div>   
    </div>
    
</section>

