<section>
    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h5 class="text-info">{{ session.alias }} estas son las personas que han preguntado por tu producto</h5>
            </div>
            {{#each messages as |message| }}
            <div class="card col-12 mb-3">
                <div class="row align-items-center">
                    <img class="img-list m-1" src="{{ sender.image}}" alt="sender-image">
                    <div class="ml-4 mt-1">
                        <h3> {{ sender.alias }}</h3>
                        <h5>Direccion: {{ sender.address }} </h5>
                    </div>
                    <form class="row ml-auto mr-3" action="/user/{{ item._id }}/messages_with/{{ sender._id }}" method="get">
                        <button type="submit" class="btn btn-info badge-pill px-3"><i class="fas fa-comments px-2"></i>Chat</button>
                    </form>

                </div>  
            </div>
            {{/each}}
        </div>   
    </div>
</section>