<section>
    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="card col-7">
                <form action="/user/{{ session.id }}/profile" method="post" enctype="multipart/form-data">
                    <div class="row align-items-center card-body">
                        <img id="img-user-sm" src="{{ session.image }}" alt="foto-perfil">
                        <h5 class="ml-3 text-info">Este es tu perfil de usuario "{{session.alias}}"</h5>
                    </div>
                   
                    <div class="form-group">
                        <label for="alias">Cambia aquí tu nombre de usuario que es el que verán los compradores y vendedores de Jesellop:</label>
                        <label for="alias" class="text-black-50">Te aconsejamos que uses un mote o nombre ficticio</label>
                        <input name="alias" type="text" class="form-control" id="alias" value="{{session.alias}}">
                    </div>
                     <div class="form-group">
                        <label for="item-img">Cambia de foto de perfil</label>
                        <input name="image" type="file" class="form-control-file mb-2" id="user-image" accept="image/jpeg" >
                    </div>
                    <div class="form-group mt-3 card p-4 bg-light">
                      <label for="">Estos son tu datos personales y no editables que nadie puede ver:</label>
                      <ul>
                          <li> Nombre de pila: {{ session.name }}</li>
                          <li> Correo electrónico: {{ session.email }}</li>
                      </ul>
                    </div>
                    <div class="my-3 mx-auto">
                        <button type="submit" class="btn btn-info">Actualizar perfil</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div> 
</section>